body{
    margin: 0;
    padding: 0;
    background-color: bisque;
    font-family: sans-serif;
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.signUp{
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto;
    text-align: center;
}
.signUp h1{
    color: blueviolet;
    margin-bottom: 30px;
}

.input-box {
    border-radius: 20px;
    padding: 5px;
    margin: 5px 0;
    width: 80%;
    border: 1px solid rebeccapurple;   
    outline: none;
}
button{
    color: #fff;
    width: 80%;
    padding: 5px;
    border-radius: 20px;
    font-size: 15px;
    margin: 5px 0;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.sign-Up{
    background-color: black;
}

.face-btn
{
    background-color: rgb(26, 26, 126);
}

.hove1:hover, .hove2:hover{
    color: blue;
}

a{
    text-decoration: none;
}

hr{
    width: 200px;
    margin-top: 20px;
}

.or{
    background-color: #fff;
    width: 30px;
    margin: -19px auto 10px;
}
img{
    width: 80px;
    border-radius: 20px;
    margin-top: -50px;
}